* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Main-Header {
    width: 100%;
    height: 23%;
    background-color: darkorchid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0%;
    z-index: 99;
}

.Main-header1 {
    width: 100%;
    height: 68%;
    /* background-color: brown; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Main-header2 {
    width: 100%;
    height: 30%;
    background-color: rgb(250, 241, 230);
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-logo {
    width: 23%;
    height: 90%;
    /* background-color: aqua; */
}
.header-logo img {
    width: 49%;
}

.header-navs {
    width: 42%;
    height: 90%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.register {
    width: 15%;
    height: 60%;
    border: none;
    outline: none;
    background-color: #FFB703;
    border-radius: 10px;
    color: #023047;
    font-size: 14px;
}

.Main-header2 h4 {
    color: #023047;
    font-size: 14.5px;
}
